.container
  .container-fluid  
    .row
      nav.navbar.navbar-default(role='navigation')
        .navbar-inner
          a.navbar-brand
            img.navlogo(alt="bmc" src="images/bmc_dna.png")
          ul.nav.navbar-nav
            li
              a(ng-click="goHome()",href='#/query') Home
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | Actions 
                b.caret
              ul.dropdown-menu
                li
                  a(ng-click="ModalExport()", data-toggle="modal", data-target="#ExportModal" ) Export
                li
                  a(ng-click="GraphIt()", type="submit") Graph It!                  
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | User 
                b.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#') Info
                li
                  a(href='#') Disconnect
                li.divider
                li
                  a(href='#') Preferences
                li.divider
                li
                  a(href='#') About
.panel.panel-default
  .panel-heading
    h5 {{ heading }}
  .panel-body
    form.form-filter
      h3 {{title}}
      .row
        .col-md-8
          .input-group
            span.input-group-addon Filter
            input.form-control(type='search', placeholder='type to filter - (filtering by ALL including hidden relationship attributes)', ng-model="thefilter")
        .col-md-4
        .input-group
          .input-group
            span.input-group-addon
              input(type='checkbox', ng-model='impactonly')
            input.form-control(type='text', value='Impact Only', placeholder='Impact Only')
  table.table.table-bordered
    thead
      tr
        th Relation
        th From
        th Class (Source)
        th To
        th Class (Destination)
    tbody
      tr(ng-repeat="r in filteredItems" , ng-class="{'impact10': r.HasImpact == 10}", ng-if="relations")
        td {{ r.ClassId }}
        td {{ r.SourceInfo.Name }}
        td {{ r.SourceInfo.ClassId}}
        td {{ r.DestinationInfo.Name }}
        td {{ r.DestinationInfo.ClassId}}
  .panel-footer
    h5 Footer - {{ footermessage }}
#ExportModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="MyModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4#ExportModalLabel.modal-title {{exportmodaltitle}}
      .modal-body
        .form-group
          label(for="filename") Filename
          input#filename.form-control(type="text", ng-model="filename", placeholder="Filename with path and extension")
        .form-group
          label(for="separator") Separator
          input#separator.form-control(type="text", ng-model="separator", placeholder="Row delimiter for CSV")
        .form-group
          label(for="decimalSeparator") Decimal Separator
          input#decimalSeparator.form-control(type="text", ng-model="decimalSeparator")
      .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
          button.btn.btn-primary(ng-csv="getArray", csv-header="getHeader", filename="{{ filename }}", field-separator="{{ separator }}", decimal-separator="{{ decimalSeparator }}") Save as CSV