script(src='client/config/network_config.js')
.container(ng-init="initGraph()")
  .container-fluid  
    .row
      nav.navbar.navbar-default(role='navigation')
        .navbar-inner
          a.navbar-brand
            img.navlogo(alt="bmc" src="images/TSODev_logo.png")
          ul.nav.navbar-nav
            li
              a(ng-click="goHome()",href='#/query') Home
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | Actions 
                b.caret
              ul.dropdown-menu
                li
                  a(ng-click="ModalExport()", data-toggle="modal", data-target="#ExportModal" ) Export                
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | User 
                b.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#/user') Info
                li
                  a(ng-click="Logout()", type="submit") Disconnect
                li.divider
                li
                  a(href='#/prefs') Preferences
                li.divider
                li
                  a(href='#/About') About
.panel.panel-default
  #header.panel-heading
    h5 {{ heading }}
  .panel-body
    .panel
      .col-md-10
        #mynetwork
      .col-md-2
        #actionbar
          h4 Action Bar
          span
          .btn-group(role="group")
            .button.btn.btn-default(type="button", ng-click="togglefullscreen()", aria-label='Toggle Full Screen')
              span.glyphicon.glyphicon-fullscreen(aria-hidden = true)
            .button.btn.btn-default(type="button", ng-click="fit()", aria-label='Fit Screen')
              span.glyphicon.glyphicon-screenshot(aria-hidden = true)
          h4 Filters
          .list-group
            h5 Classes
              .checkbox
                label(ng-repeat="n in nodesClassList")
                  input.checkbox.list-group-item(type="checkbox", ng-change="togglenodesclass()", ng-model="n.selected") 
                  .filter-class {{ n.name }}
          .list-group
            h5 Relationships
              .checkbox
                label(ng-repeat="e in edgesClassList")
                  input.checkbox.list-group-item(type="checkbox", ng-change="toggleedgesclass()", ng-model="e.selected") 
                  .filter-class {{ e.name }}
          .list-group
            h5 Impact
              .checkbox
                label
                  input.checkbox.list-group-item(type="checkbox", ng-change="toggleimpact()", ng-model="impact") 
                  .filter-class Impact Only
        #configurator
    .panel.hidden
      form.form-filter
        h3 {{title}}
        .row
          .col-md-8
            .input-group
              span.input-group-addon Filter
              input.form-control(type='search', placeholder='type to filter - (filtering by ALL including hidden relationship attributes)', ng-model="thefilter")
          .col-md-4
          .input-group
            .input-group
              span.input-group-addon
                input(type='checkbox', ng-model='impactonly')
              input.form-control(type='text', value='Impact Only', placeholder='Impact Only')
    table.table.table-bordered.hidden
      thead
        tr
          th Relation
          th From
          th Class (Source)
          th To
          th Class (Destination)
      tbody
        tr(ng-repeat="r in filteredItems" , ng-class="{'impact10': r.HasImpact == 10}", ng-if="relations")
          td {{ r.ClassId }}
          td {{ r.SourceInfo.Name }}
          td {{ r.SourceInfo.ClassId}}
          td {{ r.DestinationInfo.Name }}
          td {{ r.DestinationInfo.ClassId}}
  #footer.panel-footer
    h5 Footer - {{ footermessage }}
#ExportModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="MyModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4#ExportModalLabel.modal-title {{exportmodaltitle}}
      .modal-body
        .form-group
          label(for="filename") Filename
          input#filename.form-control(type="text", ng-model="filename", placeholder="Filename with path and extension")
        .form-group
          label(for="separator") Separator
          input#separator.form-control(type="text", ng-model="separator", placeholder="Row delimiter for CSV")
        .form-group
          label(for="decimalSeparator") Decimal Separator
          input#decimalSeparator.form-control(type="text", ng-model="decimalSeparator")
      .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
          button.btn.btn-primary(ng-csv="getArray", csv-header="getHeader", filename="{{ filename }}", field-separator="{{ separator }}", decimal-separator="{{ decimalSeparator }}") Save as CSV
#ExplorerModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="MyModalLabel")
  .modal-dialog.modal-lg.modal-graph
    .modal-content
      .modal-header
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4#ExportModalLabel.modal-title {{exportmodaltitle}}
      .modal-body
        #configurator
        #myoldnetwork
      .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
#DetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="MyModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4#MyModalLabel.modal-title {{modaltitle}}
      .modal-body
        table.table.table-striped.table-bordered.table-condensed(table-layout="fixed" word-wrap="break-word")
          thead
            tr
              th Attributes
              th Value
          tbody
            tr(ng-repeat="a in attributes",ng-class-odd="'odd'" ,ng-class-even="'even'", ng-if="attributes")
              td {{ a.key }}
              td {{ a.value }}
      .modal-footer
          button.btn.btn-primary(data-dismiss="modal") Close