block content
    .container
        .col-sm-6.col-md-4.col-md-offset-4
            h1.text-center.login-title Sign In to enter CMDB Test API
            div.account-wall
                img.profile-img(src="images/TSODev_logo.png")
                form.form-signin
                .form-group
                    label.control-label(for='servernane') Server Name
                    input#servername.form-control(type="text", name="servername", placeholder="API CMDB Server Name or IP Address", ng-model="servername")
                .form-group
                    label.control-label(for='portnumber') Port Number
                    input#portnumber.form-control(type="text", name="portnumber", placeholder="API Port Number", ng-model="portnumber")
                .form-group
                    label.control-label(for='username') User Name
                    input#username.form-control(type="text", name="username", placeholder="User Name", ng-model="username")
                .form-group
                    label.control-label(for='Server Name') Password
                    input#password.form-control(type="password", name="password", placeholder="Password", ng-model="password")
                button.btn.btn-lg.btn-primary.btn-block(ng-click="signIn()", type='submit') Sign In
                p.message(ng-model="message") {{ message }}