.container
  .container-fluid  
    .row
      nav.navbar.navbar-default(role='navigation')
        .navbar-inner
          a.navbar-brand
            img.navlogo(alt="bmc" src="images/bmc_dna.png")
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | User 
                b.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#') Info
                li
                  a(href='#') Disconnect
                li.divider
                li
                  a(href='#/prefs') Preferences
                li.divider
                li
                  a(href='#') About
.panel.panel-default
  .panel-heading
    h5 {{ pref_heading }}
  .panel-body
    h3 {{ pref_title }}
      form(role='form')   
  .panel-footer
    h5 Footer - {{ footer }}