.container
  .container-fluid  
    .row
      nav.navbar.navbar-default(role='navigation')
        .navbar-inner
          a.navbar-brand
            img.navlogo(alt="bmc" src="images/TSODev_logo.png")
          ul.nav.navbar-nav
            li
              a(ng-click="goHome()",href='#/query') Home
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | User 
                b.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#/user') Info
                li
                  a(ng-click="Logout()", type="submit") Disconnect
                li.divider
                li
                  a(href='#/prefs') Preferences
                li.divider
                li
                  a(href='#/About') About
.panel.panel-default
  .panel-heading
    h5 {{ heading }}
  .panel-body
    h3 {{ preftitle }}
    .container(ng-init="getSystemInfo()")
  form(role='form')
    .row
      .col-md-4.col-md-6
        h3 Data Model
        .row
          .col-md-6
            label.control-label Namespace
            select.form-control(ng-model="namespace")
              option(value='BMC.CORE') BMC.CORE
          .col-md-6
            label.control-label
              | DataSet
              br
            select.form-control(ng-model="dataset", ng-options="d as d.values.CoreDatasetId for d in entries", ng-change="update()" )
              option(value="dataset")
      .col-md-8
        h3 Graph Query Configuration
        .row
          .col-md-4
            label.control-label Relation
            select.form-control(ng-model="rel")
              option(value='0')  From Source To Destination
              option.disabled(value='1')  From Destination To Source
              option(value='2')  Any Direction
          .col-md-4
            label.control-label Stop
            select.form-control(ng-model="cl")
              option(value='0') when first non-matching found
              option(value='1') when first matching found
              option(value='2') walk the entire graph
          .col-md-2
            label.control-label Level
            select.form-control(ng-model="level")
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
        .row
          .col-md-6
            .checkbox
              label.control-label
                input.cb(type='checkbox',ng-change="togglemaxrel()", ng-model="statemaxrel")
                |                              Reduce level when number of relationship is greater than
          .col-md-2
            input.form-control(type='number', placeholder='Max relation', value='200', ng-model="maxrel")
    .form-group
    button.btn.btn-primary(ng-click="SavePrefs()", type='submit') Save