container
  .container-fluid  
    .row
      nav.navbar.navbar-default(role='navigation')
        .navbar-inner
          a.navbar-brand
            img.navlogo(alt="bmc" src="images/TSODev_logo.png")
          ul.nav.navbar-nav
            li
              a(ng-click="goHome()",href='#/query') Home
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | User 
                b.caret
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(href='#/user') Info
                li
                  a(ng-click="Logout()", type="submit") Disconnect
                li.divider
                li
                  a(href='#/prefs') Preferences
                li.divider
                li
                  a(href='#/About') About
.panel.panel-default
  .panel-heading
    h5 {{ heading }}
  .panel-body
    h3 {{ usertitle }}
    .container(ng-init="getUserInfo()")
      form(role='form')
        .row
          .col-md-4
            h3 {{ FullName }}
        .row
        .row
          .col-md-4
            label.control-label Email Address
          .col-md-4
            input.form-control.email(type='text', ng-model="EmailAddress",readonly='', placeholder='Placeholder text')
        .row
          .col-md-4
            label.control-label Default Notify Mechanism
          .col-md-4
            input.form-control.mechanism(type='text', ng-model="NofifyMechanism",readonly='', placeholder='Placeholder text')
        .row
          .col-md-4
            label.control-label License Type
          .col-md-4
            input.form-control.license(type='text', ng-model="LicenseType",readonly='', placeholder='Placeholder text')
        .row
          .col-md-4
            label.control-label Computed Group List
          .col-md-8
            textarea.form-control.grp(rows='6', ng-model="ComputedGrpList", readonly='')
        .row
          .col-md-4
            label.control-label Application License
          .col-md-8
            textarea.form-control.application(rows='4', ng-model="ApplicationLicense", readonly='')
        button.btn.btn-primary(ng-click="Cancel()", type='submit') Cancel

