.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.filter-class
{
    font-size: small;
    line-height: 1.7;
}
.modal-graph
{
    /*+placement: -110px -22px;*/
    position: relative;
    left: -110px;
    top: -22px;
    height: ;
    width: 1024px;
}
th
{
    background-color: #414042;
}
.btn-intable
{
    height: 20px;
    line-height: 0;
}
.label-checkbox
{
    /*+placement: 35px 35px;*/
    position: relative;
    left: 35px;
    top: 35px;
}
.form-control
{
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 15px;
    background-color: #D9D9D9;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.control-label
{
    color: #294157;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.btn-primary
{
    background-color: #00A79D;
    border-color: #016F69;
}
.row
{
    padding-top: 15px;
}
.form-control:focus
{
    border-color: #3690D7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.profile-img
{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 25%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.message
{
    color: red;
}
.odd
{
    background-color: #C4DDFD;
}
thead
{
    color: #EBF4FF;
    background-color: #054CA8;
}
a
{
    color: #00B7FF;
}
#mynetwork
{
    width: 980px;
    height: 800px;
    border: 1px solid lightgray;
    background-color: #F2F2F2;
    /*+border-radius: 24px;*/
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -khtml-border-radius: 24px;
    border-radius: 24px;
}
.navlogo
{
    height: 40px;
    width: 40px;
    /*+placement: 0px -30px;*/
    position: relative;
    left: 0px;
    top: 0px;
    /*+placement: 0px -10px;*/
    position: relative;
    left: 0px;
    top: -10px;
}
.modal-content
{
    overflow-y: auto;
}
.impact10
{
    background-color: #EEE;
}
